/* src/fonts.css */

/* @font-face {
    font-family: 'NotoNaskhArabic';
    src: url('./fonts/NotoNaskhArabic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body, button, input, select, textarea {
    font-family: 'NotoNaskhArabic', sans-serif !important; 
  } */